@tailwind base;

@tailwind components;

@tailwind utilities;

@media (min-width: 768px) { 
  .search {
    width: 20rem;
  }
 }

 /* Mover la imagen de la cabecera */
@media (min-width: 1024px) { 
  .image-header {
    margin-top: 60px;
  }
 }

 /* Ancho al card */
@media (min-width: 768px) { 
  .card {
    width: 50%
  }
 }

 /* Ancho al card */
@media (min-width: 1024px) { 
  .card {
    width: 70%
  }
 }

  /* Ancho al card */
@media (min-width: 1280px) {
  .card {
    width: 50%
  }
}


 /* Ancho al card blog show */
 @media (min-width: 768px) { 
  .card-blog-show {
    width: 80%
  }
 }

 /* Ancho al card blog show */
@media (min-width: 1024px) { 
  .card-blog-show {
    width: 65%
  }
 }

  /* Ancho al card blog show */
@media (min-width: 1280px) {
  .card-blog-show {
    width: 60%
  }
}

pre {
  /* background-color: #1A202C;
  padding: 4px 5px;
  color: #EDF2F7; */
  background-color: #212121;
  color: #eee;
  padding: 10px;
  border-radius: 3px;
  font-size: 17px;
  line-height: 1.8em;
  overflow-x: auto;
}

/* pre:hover {
  overflow-x: auto;
} */